<footer class="footer">
<%# TODO: translate?? %>
  <div>
    <%# Kurssin on tehnyt Helsingin Yliopiston Agile Education Research -tutkimusryhmä. %>
    Crowdsorcerer is developed by the Agile Education Research group of University of Helsinki.
  </div>
    <%= partial 'partials/improve_buttons' %>
  </div>
</footer>
