<div class="improvement">
  <% link_to 'report_issue.html', target: "_blank", rel: "noopener", class: "btn btn-primary" do %>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    Report an issue
  <% end %>
  <a href="<%= config[:github_url] %>" class="footer__github-link" target="_blank" rel="noopener">
    <i class="fa fa-github"></i>
  </a>
</div>
