---
  title: Assignment
---

<% partial 'partials/material_heading' do %>
  Crowdsorcerer: Creating assignments
<% end %>

<p>
  This is a demo page for Crowdsorcerer, originally implemented for ITiCSE 2018 presentation. The template for this page is the same as in our CS1 course materials so that we can illustrate the amazingness and embeddability of Crowdsorcerer properly.
</p>

<p>
  After logging in, you can use Crowdsorcerer just like any student would with the widget below. If you want to add Crowdsorcerer to your own course material, follow the instructions below.
</p>

<div class='crowdsorcerer-widget' data-assignment='6'></div>

<p>
  Here be the instructions yo. But why is the Sorcerer invisible? This is too much magic for me, I'm starting to get nervous.
</p>

<p>
  Oh, it was because I wasn't logged in. Shouldn't we have an error message for that? Or have we traveled so far back in time that we didn't actually have such things? Would be nice though.
</p>


<% partial 'partials/material_sub_heading' do %>
  Setup
<% end %>

<p>
  Clone it.
</p>
