---
  title: Peer review
---

<% partial 'partials/material_heading' do %>
  Crowdsorcerer: Peer reviewing assignments
<% end %>

<p>
  This page should (:D) show you three assignments: one made by you, and two made by other people.
</p>

<div class='crowdsorcerer-widget' data-assignment='6' peer-review></div>

<p>
  Here be the instructions yo. But why is the Sorcerer invisible? This is too much magic for me, I'm starting to get nervous.
</p>

<p>
  Oh, it was because I wasn't logged in. Shouldn't we have an error message for that? Or have we traveled so far back in time that we didn't actually have such things? Would be nice though.
</p>


<% partial 'partials/material_sub_heading' do %>
  Setup
<% end %>

<p>
  Clone it.
</p>
