---
  title: Peer review
---

<% partial 'partials/material_heading' do %>
  Peer reviewing assignments
<% end %>

<p>
  This page shows you three assignments: one made by you, and two made by other people. If you didn't create an assignment of your own, you will be shown three assignments made by other people.
</p>

<% partial 'partials/hint', locals: { name: 'Peer review' } do %>
  <p>
    As previously, these instructions are translated from our Finnish CS1 course material.
  </p>

  <p>
    Below you will find three assignments created in CrowdSorcerer: two by other students, and one for self-evaluation. The instructions the assignments are based on are included to refresh your memory of the task.
  </p>

  <p>
    Inspect all the parts of the exercise: assignment, code template, model solution, the inputs and the outputs. Evaluate their clarity, difficulty and how well they match the given instructions.
  </p>

  <p>
    You can change the view between code template and model solution by clicking the buttons above the source code. Some questions have been given to make review process easier. Choose how well the statement applies to the exercise by choosing smileys from the scale. You should also give some written feedback. Lastly, add some tags that you think describe the exercise best and hit "Send".
  </p>

  <p>
    Give a review for both the exercises done by other users, as well as your own.
  </p>

  <p>
   Remember to be fair and friendly. Good feedback is honest, but supportive!
  </p>

  <p>
    The assignments can be downloaded as ZIP-files containing the code template and the model solution separately. This way you can test the program on the IDE of your choice.
  </p>
<% end %>

<% partial 'partials/general_callout', locals: { name: 'Instructions for assignment under peer review: If-else statement' } do %>
  Write an assignment that asks the user for a string input, processes it somehow using one or more if-else statements and then prints a string output.
<% end %>

<div class='crowdsorcerer-widget' data-assignment='1' peer-review data-exercises='3'></div>
