---
  exercise_page: false
  quiz_page: false
  published: true
---

<h1>To report an issue in this demo material</h1>

<p>You can report mistakes and mishaps found to the Issues-page of this material's GitHub repository, whether they concern the material itself or the tool. Before you create a new issue, please check that the problem hasn't already been reported <a href="<%= config[:github_url] %>/issues">in here</a>.</p>

<div class="text-center text-xs-center">
  <p>
    <a class="btn btn-success" href="<%= config[:github_url] %>/issues/new" target="_blank">
      Create a new issue
    </a>
  </p>
</div>

<h2>How to create a new issue</h2>
<ol>
  <li>Click the green button above.</li>
  <li>Give your issue a nice and concise title that describes the problem, e.g. "Typo in the setup page".</li>
  <li>Write longer description to the comment field, e.g. "In the first paragraph, the page says to use "the fool" when it should be "the tool"".</li>
  <li>To submit, click the green "Submit new issue" button.</li>
</ol>
<p>We may ask defining questions about your issue if we are not able to fix the problem without your help. These questions should send you a notification email to the email address connected to your GitHub account.</p>

<p>Thank you for helping us to make the world a better place!</p>

