---
  title: Setup
---

<% partial 'partials/material_heading' do %>
  Development setup
<% end %>
  
<p>
  For development setup instructions, see the GitHub readmes for both <a href="https://github.com/rage/crowdsorceress/blob/master/README.md">Crowdsorceress</a> and <a href="https://github.com/rage/crowdsorcerer/blob/master/Readme.md">CrowdSorcerer</a>.
</p>

<p>
  CrowdSorcerer relies currently heavily on TMC for authentication and testing purposes. The latest version of the tool itself is only available in Finnish. The demo version on this site is based on an older version released for the courses of fall 2017 and spring 2018.
</p>

<% partial 'partials/material_heading' do %>
  Using CrowdSorcerer on your own courses
<% end %>

<p>
  If you are interested in using CrowdSorcerer in your materials, please don't hesistate to contact us! We would be happy to hear your feature requests, and would like to know if there is a demand for fully translated English version.
</p>

<p>
  Any inquiries can be sent to Nea Pirttinen (nea.pirttinen@helsinki.fi) or Vilma Kangas (vilma.l.kangas@helsinki.fi).
</p>
